<template>
  <div class="home">
    <Supplier 
    @selectedType="getSelectedType" 
    @selectedSupplier="getSelectedSupplier" 
    @commentChange="getCommentChange"/>
    <Products 
    :selectedType="selectedType" 
    :selectedSupplier="selectedSupplier" 
    :commentChange="commentChange"/>
   
    
  </div>
</template>

<script>

import Products from "@/components/Products.vue";
import Supplier from '@/components/Supplier.vue';

export default {
  name: "Home",
  data() {
    return {
      selectedType: '',
      selectedSupplier: '',
      commentChange: ''
    }
  },
  components: {
    Products,
    Supplier,
  },
  methods: {
    getSelectedType(selectedType) {
      this.selectedType = selectedType
    },
    getSelectedSupplier(selectedSupplier) {
      this.selectedSupplier = selectedSupplier
    },
    getCommentChange(commentChange) {
      this.commentChange = commentChange
    },
    
}

  
};
</script>
