<template>
  <div class="hello">
  
  <template>
    <el-table
      :data="tableData"
      style="width: 100%">

      <el-table-column
        prop="name"
        label="name"
        width="180">
      </el-table-column>
      
      <el-table-column
        width="180">
        <template slot-scope="scope">
          <el-input
          type="number"
          error 
          v-model="scope.row.amount"
          controls-position="right" 
          :min="1">
          </el-input>
        </template>
      </el-table-column>

      <el-table-column
        prop="price"
        label="Price"
        width="180">

      </el-table-column>

      <el-table-column
        prop="discount"
        label="Discount"
        width="180">
      </el-table-column>

      <el-table-column
        prop="summ"
        label="Summ"
        width="180">
          <template slot-scope="scope">
            {{calculatedAmount(scope.row)}}
          </template>    
      </el-table-column>

    <el-table-column
        prop="delete"
        label="Delete">
          <template slot-scope="scope">
          <el-button 
          type="danger" 
          icon="el-icon-delete" 
          @click="handleDelete(scope.$index)"
          circle>
          </el-button>
          </template>
      </el-table-column>
    </el-table>
  </template>

    <el-row>
      <el-col :span="12">
        <div class="grid-content bg-purple">
            <template>
              <el-select v-model="item" 
              @change="selectedItems" 
              placeholder="Select">
                <el-option
                  v-for="item in items"
                  :key="item.id"
                  :label="item.name"
                  :value="item">
                </el-option>
              </el-select>
            </template>          
        </div>
      </el-col>

      <el-col :span="12">
        <div class="grid-content bg-purple">
          <h4><span>Summ: </span> <span>{{ selectedTotal }}</span></h4>
        </div>
      </el-col>
    </el-row>  
    
    <el-button type="success" @click="sendOrder()" round >Success</el-button>
     

  </div>
</template>
<script>
import ProductService from '@/services/ProductService.js';

export default {
  name: "HelloWorld",
  components: {
  },
  props: ['selectedType', 'selectedSupplier', 'commentChange'],
  data() {
        return {
          amount: 1,
          orderData: {},
          tableData: [],
          items: [{
          name: '',
          label: ''
          }],
          item: ''
        }
      }, 
      computed: {
        selectedTotal() {
            var total = 0 ;
            this.tableData.forEach(item => {
            var itemSumm = this.calculatedAmount(item);
            total += itemSumm
          })
          
          return Math.round(total * 100) / 100 
        }
      },
      watch: {
        selectedType: function () {
          this.type()
        },
      },
      methods: {
        calculatedAmount(scope){
          var price = scope.price;
          var discount = scope.discount;
          var amount = scope.amount;
          if(!amount) {
              amount = 0
          }  
          var calculated = amount * price * ((100-discount)/100);
          return Math.round(calculated * 100) / 100   
        },
        sendOrder() {
        this.orderData.items = this.tableData
        this.orderData.supplier_id = this.selectedSupplier;
        this.orderData.comment = this.commentChange;
        console.log(this.orderData);
        let order = this.orderData;
      
      ProductService.postOrderItem(order)          
            .then(response => {
              this.$message({
                message: 'Congrats, this is a successfull Order !!!',
                type: 'success'
              });
              console.log(response)
          })

          .catch(error => { 
             this.$message({
                message: 'Warning, Order was unsuccessfull please fill in all requests !!!',
                type: 'warning'
              });
            console.log(error)
          })    
      },

        selectedItems(item){
          
          var status = false
          this.tableData.forEach( newitem => {
            if(newitem.id === item.id) {
              status = true
            }
          }) 
          if (!status) {
            console.log(this.item)
            this.tableData.push(item);
          }

        },   
        handleDelete(index) {
          this.tableData.splice(index, 1); 
        },
        type() {
          if(this.selectedType === 'Product'){
            ProductService.getProducts()
              .then(response => {
                this.items = response.data
                this.items.forEach(item => {
                  item.type = 'products'
                })
              })
              .catch(error => {
                console.log('There was an error ' + error.response)
              })
            }
            else{
              ProductService.getMaterials()
              .then(response => {
                this.items = response.data
                this.items.forEach(item => {
                  item.type = 'materials'
                })
              })
              .catch(error => {
                console.log('There was an error ' + error.response)
              })
          }
        }

  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

