<template>
    <div>
        
        <el-row>
            <el-col :span="8">
                <div class="grid-content">
                    <h4>
                        <span>Order Product No: 20</span>
                        <span>
                            <template>
                                    <el-date-picker
                                    v-model="value1"
                                    type="datetime"
                                    placeholder="Select date and time">
                                    </el-date-picker>
                            </template>
                        </span>
                    </h4>                            
                </div>
            </el-col>
            <el-col :span="8">
                <div class="grid-content">
                    
                </div>
            </el-col>
            <el-col :span="8">
                <div class="grid-content">
                    <h4>Owner : GoMax</h4>                    
                </div>
            </el-col>
    
        </el-row>

        <el-row>
            <el-col :span="8">
                <div class="grid-content">
                    <span>Supplier: </span>
                    <el-select v-model="supplier" 
                    @change="selectSupplier" 
                    placeholder="Supplier">
                        <el-option
                        v-for="supplier in suppliers"
                        :key="supplier.id"
                        :label="supplier.name"
                        :value="supplier.id">
                        </el-option>           
                    </el-select>
                </div>
            </el-col>
            <el-col :span="8">
                <div class="grid-content">
                    <template>
                        <div class="block">
                            <span class="demonstration">Current Time: </span>
                            <el-date-picker
                            v-model="value1"
                            type="datetime"
                            placeholder="Select date and time">
                            </el-date-picker>
                        </div>
                    </template>        
                </div>
            </el-col>
            <el-col :span="8">
                <div class="grid-content">
                    <!-- <span>Comments: </span> -->
                    <el-input
                    type="textarea"
                    :rows="2"
                    placeholder="Comment goes here"
                    @change="commentChange"
                    v-model="comment">
                    </el-input>        
                </div>
            </el-col>
        </el-row>


            <el-row>
            <el-col :span="8">
                <div class="grid-content">
                    <span>Type of product: </span>
                    <el-select v-model="productType" 
                    @change="selectProductType" 
                    placeholder="Sections">
                        <el-option
                        v-for="productType in ProductsType"
                        :key="productType.value"
                        :label="productType.label"
                        :value="productType">
                        </el-option>
                    </el-select>
                </div>    
            </el-col>
        </el-row>

    </div>
</template>

<script>
import ProductService from '@/services/ProductService.js';
    export default {
        data() {
            return {
                comment: '',
                productType: '',
                ProductsType: [
                    {
                    value: 'Product',
                    label: 'Product'
                    }, 
                    {
                    value: 'Raw Material',
                    label: 'Raw Material'
                    }
                ],
                supplier: '',
                suppliers: [
                    {
                    id: '',
                    name: '',
                    label: ''
                    }, 
                ],
                pickerOptions: {
                    shortcuts: [{
                        text: 'Today',
                        onClick(picker) {
                        picker.$emit('pick', new Date());
                        }
                    }, {
                        text: 'Yesterday',
                        onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                        }
                    }, {
                        text: 'A week ago',
                        onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                        }
                    }]
                },
                
                value1: new Date()
            };
        },
        created() 
        {
            ProductService.getSuppliers()
                .then(response => {
                    this.suppliers = response.data
                })
                .catch(error => {
                    console.log('There was an error' + error.response)
                })
        },
        methods: {
            
            selectProductType() {
                this.$emit('selectedType', this.productType.label)
            },
            selectSupplier() {
                this.$emit('selectedSupplier', this.supplier)               
            },
            commentChange() {
                this.$emit('commentChange', this.comment)
            }

        }
    }
</script>

<style scoped>
    .el-row {
    margin-bottom: 20px;
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>